dist: bionic
sudo: required
language: python
python:
  - "3.7"
cach:
  pip: true
addons:
  apt:
    update: true
install:
  - set -e
  - bin/setup_base
script:
  - set -e
  - bin/build_docker
  - bin/setup_stack local
  - bin/test_reconfig
env:
  matrix:
    - SHARD=1
    - SHARD=2
    - SHARD=3
