dist: bionic
sudo: required
language: python
python:
  - "3.7"
cach:
  pip: true
addons:
  apt:
    update: true
install:
  - set -e
  - bin/setup_base
  - bin/compile_ovs
script:
  - set -e
  - bin/build_docker
  - bin/setup_stack local
  - bin/run_test_set
env:
  matrix:
    #- TEST_SET=stack
    - TEST_SET=reconfig
    - TEST_SET=reconfig
    - TEST_SET=reconfig
    - TEST_SET=reconfig
